<h1>Brocrunch</h1>
<h2>Latest news</h2>
<ul>
<% @articles.each do |article| %>
      <% @id = article.id %>
  <li>
    <%= article.title %> <br>
    <%= article.content %>
    <% if current_user != nil %>
        <% if article.user.email == current_user.email %>
            <p>Written by me at <%= article.created_at.strftime("%Y-%m-%d") %> </p>
        <% end %>
    <% else %>
        <p>Written by <%= article.user.email %> at <%= article.created_at.strftime("%Y-%m-%d") %> </p>
    <% end %>
    <%= render file:'/comment/create' %>
    <% article.comments.each do |comment| %>
        <% if current_user != nil %>
            <% if comment.user.email == current_user.email %>
                <% @commentauthor = "me: " %>
            <% end %>
        <% else %>
            <% @commentauthor = "#{comment.user.email}: " %>
        <% end %>
        <p><%= @commentauthor %><%= comment.content %></p>
    <% end %>
  </li>
  <% end %>
</ul>
