<h1>Brocrunch</h1>
<p id="notice"><%= notice %></p>
<h2>Add a new Article!</h2>
<%= form_tag create_article_path do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %><br>
    <%= label_tag :content %>
    <%= text_field_tag :content %><br>
    <%= label_tag :author %>
    <%= text_field_tag :author %><br>
    <%= submit_tag "Post Article", class: "button" %>
<% end %>
<h2>Latest news</h2>
<ul>
<% @articles.each do |article| %>
  <li>
    <%= article.title %> <br>
    <%= article.content %>
    <p>Written by <%= article.author %> at <%= article.created_at.strftime("%Y-%m-%d") %> </p>
    <%= form_tag article_comment_path, id: "article_#{article.id}" do %>
        <%= hidden_field_tag :article, article.id %>
        <%= label_tag :comment %>
        <%= text_field_tag :comment %>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
        <%= submit_tag "Post", class: "button" %>
    <% end %>
    <% article.comments.each do |comment| %>
        <p><%= comment.email %>: <%= comment.content %></p>
    <% end %>
  </li>
  <% end %>
</ul>
